@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
}

#root * {
  touch-action: auto !important;
}

.home {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.description {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlight {
  color: white;
  margin-bottom: 36px;
}

.enter {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visualizationInterface {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tonnesIndicator{
  position: relative;
  display: inline-block;
  transform-origin: bottom left;
  top:auto;
  bottom:50%;
  transform: rotate(90deg) translateX(-50%)
}

.menuWrapper {
  padding: 24px;
  display: flex;
  justify-content: end;
}

.tonnesWrapper {
  padding: 24px;
}
.unit{
  font-weight: 700;
  font-size: 36px;
  color: white;
  margin: 0;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.meter{
  font-weight: 700;
  font-size: 16px;
  margin-top: 8px;
  color: white;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.inl{
  display: inline-block;
}
.tonnesHeader{
  display: inline-block;
}
.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px;
  margin-bottom: 12px;
}

.buttonWrapper::after {
  content: "";
  width: 100%;
  height: 4px;
  background: rgb(80,255,115);
background: linear-gradient(90deg, rgba(80,255,115,0) 0%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 66%, rgba(8,88,0,0) 100%);
  position: absolute;
}

.arrow {
  padding: 24px;
}

.yearSelectButton {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  z-index: 1;
  color: black;
  padding-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  background: rgba(255, 166, 0, 0.664);
  border-radius: 12px;
  border: 0;
  transform: rotate(90deg);
}

h1 {
  font-weight: 700;
  font-size: 128px;
  color: white;
  margin: 0;
  margin-top: 64px;
  text-align: center;
  line-height: 1;
  pointer-events: none;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

h2 {
  font-weight: 700;
  font-size: 80px;
  color: white;
  margin: 0;
  margin-top: 64px;
  letter-spacing: 0.3px;
  text-align: left;
  line-height: 1;
  padding-left: 48px;
  pointer-events: none;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

a {
  color: green;
  text-decoration: none;
}

h5 {
  font-weight: 700;
  font-size: 80px;
  color: white;
  margin: 0;
  text-align: left;
  line-height: 0.6;
  padding-left: 24px;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.underHeader {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  color: white;
  margin-top: 16px;
  text-align: center;
  line-height: 1.5;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.paragraph {
  font-weight: 300;
  font-size: 16px;
  color: white;
  margin-top: 48px;
  text-align: left;
  max-width: 800px;
  padding-left: 48px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.buttonHandler {
  align-self: flex-start;
  color: white;
  margin-left: 48px;
  margin-top: 48px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  border: 2px solid white;
  background-color: transparent;
}

@media(max-width:848px){
  .yearSelectButton{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  z-index: 1;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  background: rgba(255, 166, 0, 0.664);
  border-radius: 12px;
  border: 0;
  transform: rotate(90deg);
  }
  .paragraph {
    font-weight: 300;
    font-size: 16px;
    color: white;
    margin-top: 48px;
    text-align: left;
    max-width: 800px;
    padding-left: 48px;
    padding-right: 48px;
    letter-spacing: 0.3px;
    line-height: 1.5;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
  }
}
@media(max-width:666px){
  h1 {
  font-weight: 700;
  font-size: 64px;
  color: white;
  margin: 0;
  margin-top: 36px;
  text-align: center;
  line-height: 1;
  pointer-events: none;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}
.tonnesHeader{
  display: inline-block;
  font-size: 36px;
}
  .yearSelectButton{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  z-index: 1;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  background: rgba(255, 166, 0, 0.664);
  border-radius: 12px;
  border: 0;
  transform: rotate(90deg);
  }
  h2 {
    font-weight: 700;
    font-size: 36px;
    color: white;
    margin: 0;
    margin-top: 64px;
    letter-spacing: 0.3px;
    text-align: left;
    line-height: 1;
    padding-left: 24px;
    pointer-events: none;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
  }
  .unit{
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .meter{
    font-weight: 700;
    font-size: 12px;
    margin-top: 8px;
    color: white;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .paragraph {
    font-weight: 300;
    font-size: 13px;
    color: white;
    margin-top: 24px;
    text-align: left;
    max-width: 800px;
    padding-left: 24px;
    padding-right: 24px;
    letter-spacing: 0.3px;
    line-height: 1.5;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
  }
  .highlight {
    color: white;
    margin-bottom: 12px;
  }
  .buttonHandler {
    align-self: flex-start;
    color: white;
    margin-left: 24px;
    margin-top: 24px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    border: 2px solid white;
    background-color: transparent;
  }
}